.ise-intro{
	height:550px;
	background-color: #7887a3;
	padding-top: 1px;
}
.title{
	padding-left:47%;
	color: #e31f26;

}
.text{
	padding-left:27%;
	padding-right:27%;
	padding-top:76px;
	text-align:center;
	color:#e31f26;
}
.navbar{
	height:57px;
	width: 100%;
	margin-bottom: 0%;
	background-color: #7887a3;
}
.navbar-header{
	
	
}