.ise-intro{
	height:550px;
	background-color: #FAFAFA;
	padding-top: 1px;
}
.title{
	padding-left:47%;
	color: red;

}
.text{
	padding-left:27%;
	padding-right:27%;
	padding-top:76px;
	text-align:center;
	color:red;
}
.navbar{
	background-color: #FAFAFA;
	margin-bottom: 0%
}
.navbar-header{
	height:57px;
	width: 100%;
}