.ise-intro{
	height:497px;
	background-color: #FAFAFA;
}
.title{
	padding-left:47%;
	color: red;
}
.text{
	padding-left:27%;
	padding-right:27%;
	padding-top:76px;
	text-align:center;
	color:red;
}
div.container-fluid{
	background-color: #FAFAFA;
}